version: 2.1

jobs:
  build_and_test:
    docker:
      - image: circleci/golang:1.15.8
    working_directory: ~/mycicd
    steps:
      - checkout
      - run:
          name: Show current branch
          command: echo $CIRCLE_BRANCH
      - run:
          name: Install go dependencies
          command: |
            go mod download
            go test
workflows:
  build_and_test:
    jobs:
      - build_and_test